@charset "ISO-8859-1";


.login{
	
	
	margin: 5%;
	
	
	
	
}

.image{
	
	width: 100%;
	height: 1;

	
}

.imgdiv{
	
	width: 101%;
/* 	height: 1; */
	margin-top: -10px;
	margin-left:-5.5px;
	
/* 	margin-right:-10px; */
	
}